.pb-dashboard table {
    max-width: 800px;
    border-collapse: collapse;
}

.pb-dashboard table th {
    padding-top: 0.6em;
    font-weight: bold;
}

.pb-dashboard table td {
    border: 1px solid black;
    padding: 0.2em;
}

.pb-dashboard table td:last-child {
    min-width: 3em;
    text-align: right;
    color: black;
    /* Background color could be anything, so add a white outline to preserve readability */
    text-shadow:
       -1px -1px 1px rgba(255,255,255,0.7),  
        1px -1px 1px rgba(255,255,255,0.7),
        -1px 1px 1px rgba(255,255,255,0.7),
         1px 1px 1px rgba(255,255,255,0.7);
}

.pb-dashboard table .avg-row td {
    background-color: #ddd;
    text-align: right;
}
