.mentoring .messages {
    display: none;
    margin-top: 10px;
    border: 1px solid rgb(221, 221, 221);
    padding: 12px 15px 20px;
}

.mentoring .messages .title1 {
    color: rgb(170, 170, 170);
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.mentoring .warning {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #9F6000;
    background-color: #FEEFB3;
}

.mentoring .missing-dependency.warning {
    display: none;
}

.mentoring .bold {
    font-weight: bold;
}
.mentoring .italic {
    font-style: italic;
}

.mentoring h4 {
    margin-bottom: 20px;
}

.mentoring h4 {
    margin-top: 25px;
}

.mentoring .submit {
    display: inline-block;
    margin-top: 20px;
}

.mentoring .attempts {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.mentoring .attempts > span {
    color: #777;
    font-style: italic;
    webkit-font-smoothing: antialiased;
}

.mentoring .checkmark-correct {
    font-size: 22pt;
    color: #006600;
    color: #629b2b;
    float: left;
}

.mentoring .checkmark-incorrect {
    font-size: 22pt;
    color: #ff0000;
    float: left;
}

.mentoring div {
    overflow: hidden;
}

.mentoring .choice-result{
    display:block;
    float: left;
    height:33.33px;
}
