.mentoring .rating .question,
.mentoring .choices .question {
    font-weight: bold;
}

.mentoring .rating .choices-list {
    margin: 5px 0 10px;
}

.mentoring .choices .choice {
    margin: 10px 0;
}

.mentoring .choices .choice-result {
    padding-right: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.mentoring .choices .choice-result.correct {
    background-image: url({{ correct_icon_url }});
    cursor: pointer;
}
.mentoring .choices .choice-result.incorrect {
    background-image: url({{ incorrect_icon_url }});
    cursor: pointer;
}

.mentoring .choices .choice-tips {
    display: none;
    background-color: #0384ce;
    color: #fff;
    padding: 20px;
    position: absolute;
    width: 600px;
    margin: 10px 0;
}

.mentoring .choices .choice-tips .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.mentoring .choices .choice-tips .tip-choice-group {
    position: relative;
}

.mentoring .choices .choice-tips .tip-choice-group .close {
    background-image: url({{ close_icon_url }});
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 19px;
}

.mentoring .choices .choice-tips p {
    color: #fff;
}

.mentoring .rating .choice {
    margin-right: 10px;
}

.mentoring .choices-list .choice-selector {
    margin-right: 5px;
}
