.mentoring .questionnaire .choices-list {
    position: relative;
    padding-top: 10px;
    margin-bottom: 10px;
}

.mentoring .choices .choice-checkbox {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mentoring .questionnaire .choice-result {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.mentoring .questionnaire .choice-result.checkmark-correct,
.mentoring .questionnaire .choice-result.checkmark-incorrect {
    text-align:center;
}

.mentoring .questionnaire .choice-tips,
.mentoring .questionnaire .feedback {
    display: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    background: none repeat scroll 0 0 #5C9DD5;
    font-family: arial;
    font-size: 14px;
    height: 100%;
    opacity: 0.9;
    padding: 10px;
    width: 300px;
}

.mentoring .questionnaire .choice-tips .title {
    margin: 0 0 5px;
    font-size: 18px;
    font-family: arial;
}

.mentoring .questionnaire .choice-tips .tip-choice-group,
.mentoring .questionnaire .feedback .tip-choice-group,
.mentoring .questionnaire .feedback .message-content {
    position: relative;
}

.mentoring .questionnaire .choice-tips .close,
.mentoring .questionnaire .feedback .close {
    background-image: url({{ close_icon_url }});
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 21px;
}

.mentoring .questionnaire .choice-tips p,
.mentoring .questionnaire .feedback p {
    color: #fff;
}

.mentoring .choices-list .choice-selector {
    margin-right: 5px;
}
