*~
*.pyc
/.coverage
/xblock_problem_builder.egg-info
/workbench.*
/dist
/templates
/var
*.iml
.idea/*
dump.rdb
problem_builder.tests.*
.tox

### Internationalization artifacts
*.prob
*.dup
*.mo
*.po
!text.po
!text.mo
!textjs.po
!textjs.mo
problem_builder/translations/en/LC_MESSAGES/*.mo
problem_builder/translations/fake*/LC_MESSAGES/*.po
problem_builder/translations/fake*/LC_MESSAGES/*.mo
