*~
*.pyc
/.coverage
/xblock_problem_builder.egg-info
/workbench.*
/dist
/templates
/var
*.iml
.idea/*
dump.rdb
problem_builder.tests.*

### Internationalization artifacts
*.mo
*.po
*.prob
*.dup
!django.po
!django.mo
!djangojs.po
!djangojs.mo
problem_builder/locale/en/LC_MESSAGES/*.mo
problem_builder/locale/fake*/LC_MESSAGES/*.po
problem_builder/locale/fake*/LC_MESSAGES/*.mo
