<div class="mentoring">
  {% if missing_dependency_url %}
  <div class="warning">
    You need to complete <a href="{{ missing_dependency_url }}">the following step</a> before
    attempting this step.
  </div>
  {% endif %}
  {% for name, c in named_children %}
  {{c.body_html|safe}}
  {% endfor %}
  <input type="button" value="submit" class="submit"></input>
  <span class="progress" data-completed="{{ self.completed }}">
    <span class='indicator'></span>
  </span>
  <div class="messages"></div>
</div>
