{% load i18n %}
<h3>{% trans "Data Export" %}</h3>

<p>{% trans "You can export all student answers to multiple-choice questions and long-form answers to a CSV file here." %}</p>

<div class="data-export-status"></div>

<div class="data-export-actions">
  <button class="data-export-download">{% trans "Download result" %}</button>
  <button class="data-export-start">{% trans "Start a new export" %}</button>
  <button class="data-export-cancel">{% trans "Cancel current export" %}</button>
  <button class="data-export-delete">{% trans "Delete result" %}</button>
</div>
