{% load i18n %}
<div class="mentoring themed-xblock" data-active-step="{{ self.active_step }}">

  {% if show_title and title %}
  <div class="title">
    <h2>{{ title }}</h2>
  </div>
  {% endif %}

  <div class="assessment-question-block">

    {% for child_content in children_contents %}
      {{ child_content|safe }}
    {% endfor %}

    <div class="submit">
      <span class="assessment-checkmark fa icon-2x"></span>
      <input type="button" class="input-main" value="Submit" disabled="disabled" />
      <input type="button" class="input-next" value="Next Step" disabled="disabled" />
      <input type="button" class="input-review" value="Review grade" disabled="disabled" />
      <input type="button" class="input-try-again" value="Try again" disabled="disabled" />
    </div>
  </div>

</div>
