<fieldset class="rating questionnaire">
  <legend class="question">
    {% if not hide_header %}<h3 class="question-title">{{ self.display_name_with_default }}</h3>{% endif %}
    <p>{{ self.question|safe }}</p>
  </legend>
  <div class="choices-list">
    {% for i in '12345' %}
      <div class="choice">
        <div class="choice-result fa icon-2x"></div>
        <div class="choice-selector">
          <input id="choice-{{ self.html_id }}-{{i}}" type="radio"
            name="{{ self.name }}" value="{{i}}"
            {% if self.student_choice == i and not hide_prev_answer %} checked{%else%} data-student-choice='{{self.student_choice}}'{% endif %}
            />
        </div>
        <label class="choice-label" for="choice-{{ self.html_id }}-{{i}}">
          {{i}}
          {% if i == '1' %} - {{ self.low|safe }}{% endif %}
          {% if i == '5' %} - {{ self.high|safe }}{% endif %}
        </label>
        <div class="choice-tips-container">
          <div class="choice-tips"></div>
        </div>
      </div>
    {% endfor %}

    {% for choice in custom_choices %}
    <div class="choice">
      <div class="choice-result fa icon-2x"></div>
      <div class="choice-selector">
        <input id="choice-{{ self.html_id }}-custom{{ forloop.counter }}" type="radio"
          name="{{ self.name }}" value="{{ choice.value }}"
          {% if self.student_choice == choice.value and not hide_prev_answer %} checked{%else%} data-student-choice='{{self.student_choice}}'{% endif %}
        />
      </div>
      <label class="choice-label" for="choice-{{ self.html_id }}-custom{{ forloop.counter }}">
          {{ choice.content|safe }}
      </label>
      <div class="choice-tips-container">
        <div class="choice-tips"></div>
      </div>
    </div>
    {% endfor %}
    <div class="feedback"></div>
  </div>
</fieldset>
