.mentoring .questionnaire .choices-list {
    display: table;
    position: relative;
    width: 100%;
    border-spacing: 0;
    padding-top: 10px;
    margin-bottom: 10px;
}

.mentoring .questionnaire .choice-result {
    display: table-cell;
    width: 34px;
    vertical-align: top;
    cursor: pointer;
    float: none;
}

.mentoring .questionnaire .feedback {
    min-height: 100%;
    border-left: 2px solid #ddd;
}

.mentoring div[data-block-type=pb-mrq] .questionnaire .choice-result {
    display: inline-block;
}

.mentoring .questionnaire .choice {
    overflow-y: hidden;
    display: table-row;
}

.mentoring .questionnaire .choice-result.checkmark-correct,
.mentoring .questionnaire .choice-result.checkmark-partially-correct,
.mentoring .questionnaire .choice-result.checkmark-incorrect {
    text-align:center;
}

.mentoring .questionnaire .choice-tips,
.mentoring .questionnaire .feedback {
    display: none;
    color: #3c3c3c;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    font-family: arial;
    font-size: 14px;
    padding: 0 20px;
    width: 300px;
    min-height: 40px;
    max-height: 180px;
    z-index: 10000;
}

.mentoring .questionnaire .choice-tips .title {
    margin: 0 0 5px;
    font-size: 18px;
    font-family: arial;
}

.mentoring .questionnaire .choice-tips .tip-choice-group,
.mentoring .questionnaire .feedback .tip-choice-group,
.mentoring .questionnaire .feedback .message-content {
    position: relative;
    overflow-y: auto;
    line-height: normal;
    max-height: 180px;
}

.mentoring .questionnaire .choice-tips p,
.mentoring .questionnaire .feedback p {
    color: #3c3c3c;
}

.mentoring .questionnaire .choice-tips .close,
.mentoring .questionnaire .feedback .close {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 3px;
    width: 18px;
    height: 21px;
    font-family: FontAwesome;
    font-style: normal;
    text-align: center;
}

.mentoring .choices-list .choice-selector {
    display: table-cell;
}

.mentoring .choices-list .choice-label-text {
    display: table-cell;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.mentoring .choice-tips-container,
.mentoring .choice-label {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

/*RTL Specified CSS*/

.rtl .mentoring .questionnaire .choice-tips,
.rtl .mentoring .questionnaire .feedback{
    right: auto;
    left: 0;
}

.rtl .themed-xblock.mentoring .choice .choice-tips-container.with-tips,
.rtl .themed-xblock.mentoring .questionnaire .feedback{
    border-right: 2px solid #ddd;
    border-left: 0;
}

.rtl .mentoring .questionnaire .choice-tips .close,
.rtl .mentoring .questionnaire .feedback .close {
    right: auto;
    left: 3px;
}
