.mentoring .questionnaire .choices-list {
    display: table;
    position: relative;
    width: 100%;
    border-spacing: 0 6px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.mentoring .questionnaire .choice-result {
    display: inline-block;
    width: 34px;
    vertical-align: top;
    cursor: pointer;
    float: none;
}

.mentoring .questionnaire .choice {
    overflow-y: hidden;
    display: table-row;
}

.mentoring .questionnaire .choice-result.checkmark-correct,
.mentoring .questionnaire .choice-result.checkmark-partially-correct,
.mentoring .questionnaire .choice-result.checkmark-incorrect {
    text-align:center;
}

.mentoring .questionnaire .choice-tips,
.mentoring .questionnaire .feedback {
    display: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    background: none repeat scroll 0 0 #66A5B5;
    font-family: arial;
    font-size: 14px;
    opacity: 0.9;
    padding: 22px 10px 10px 10px;
    width: 300px;
    min-height: 40px;
    max-height: 180px;
    z-index: 10000;
}

.mentoring .questionnaire .choice-tips .title {
    margin: 0 0 5px;
    font-size: 18px;
    font-family: arial;
}

.mentoring .questionnaire .choice-tips .tip-choice-group,
.mentoring .questionnaire .feedback .tip-choice-group,
.mentoring .questionnaire .feedback .message-content {
    position: relative;
    overflow-y: auto;
    line-height: normal;
    max-height: 180px;
}

.mentoring .questionnaire .choice-tips .close,
.mentoring .questionnaire .feedback .close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 3px;
    width: 18px;
    height: 21px;
    font-family: FontAwesome;
    font-style: normal;
    text-align: center;
}

.mentoring .questionnaire .choice-tips p,
.mentoring .questionnaire .feedback p {
    color: #fff;
}

.mentoring .choices-list .choice-selector {
    display: inline-block;
}

.mentoring .choice-tips-container,
.mentoring .choice-label {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
