.mentoring .questionnaire .choice-tips,
.mentoring .questionnaire .feedback {
    box-sizing: content-box;  /* Avoid a global reset to border-box found on Apros */
}

.themed-xblock.mentoring .choices-list .choice-selector {
    padding: 4px 3px 0 3px;
    font-size: 16px;
}

.mentoring .title h2 {
	/* Same as h2.main in Apros */
	color: #66a5b5;
}

.mentoring h3 {
    text-transform: uppercase;
}

.themed-xblock.mentoring .sb-review-score {
    margin-left: 40px;
    margin-top: 15px;
}

.themed-xblock.mentoring .review-tips-list li {
    margin-left: 1.8em;
    padding-left: 0;
}
