<div class="mentoring" data-mode="{{ self.mode }}" data-step="{{ self.step }}">
  <div class="missing-dependency warning" data-missing="{{ self.has_missing_dependency }}">
    You need to complete <a href="{{ missing_dependency_url }}">the previous step</a> before
    attempting this step.
  </div>

  {% if self.title or self.header %}
  <div class="title">
    {% if self.title %} <h2 class="main">{{ self.title.content }}</h2> {% endif %}
    {% if self.header %} <div class="shared-header">{{ self.header.content|safe }}</div> {% endif %}
  </div>
  {% endif %}

  <div class="{{self.mode}}-question-block">
    {% for name, c in named_children %}
    {{c.body_html|safe}}
    {% endfor %}

    {% if self.display_submit %}

    <div class="grade" data-score="{{ self.score.1 }}"
         data-correct_answer="{{ self.score.2 }}"
         data-incorrect_answer="{{ self.score.3 }}"
         data-partially_correct_answer="{{ self.score.4 }}"
         data-max_attempts="{{ self.max_attempts }}"
         data-num_attempts="{{ self.num_attempts }}">
    </div>

    <div class="submit">
      {% if self.mode == 'assessment' %}
      <span class="assessment-checkmark fa icon-2x"></span>
      {% endif %}

      <input type="button" class="input-main" value="Submit" disabled="disabled" />

      {% if self.mode == 'assessment' %}
      <input type="button" class="input-next" value="Next Question" disabled="disabled" />
      <input type="button" class="input-review" value="Review grade" disabled="disabled" />
      <input type="button" class="input-try-again" value="Try again" disabled="disabled" />
      {% endif %}

      <div class="attempts" data-max_attempts="{{ self.max_attempts }}" data-num_attempts="{{ self.num_attempts }}"></div>
    </div>
    {% endif %}
    <div class="messages"></div>
  </div>
</div>
