{% load i18n %}

<!-- TODO: Replace by default edit view once available in Studio -->
<div class="mentoring-edit editor-with-buttons">
  <div class="wrapper-comp-settings is-active" id="settings-tab">
    <textarea class="block-xml-editor">{{ xml_content }}</textarea>
  </div>
  <div class="xblock-actions">
    <span class="error-message"></span>
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>

      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
