<div class="mentoring">
  <div class="missing-dependency warning" data-missing="{{ self.has_missing_dependency }}">
    You need to complete <a href="{{ missing_dependency_url }}">the following step</a> before
    attempting this step.
  </div>
  {% for name, c in named_children %}
  {{c.body_html|safe}}
  {% endfor %}
  {% if self.display_submit %}
  <input type="button" value="submit" class="submit"></input>
  <span class="progress" data-completed="{{ self.completed }}">
    <span class='indicator'></span>
  </span>
  {% endif %}
  <div class="messages"></div>
</div>
