<!-- TODO: Replace by default edit view once available in Studio -->
<div class="mentoring-edit">
  <div class="wrapper-comp-settings is-active" id="settings-tab">
    <script id="metadata-editor-tpl" type="text/template">// JS crashes when empty //</script>
    <textarea class="block-xml-editor">{{ xml_content }}</textarea>
  </div>
  <div class="row module-actions">
    <a href="#" class="save-button action-primary action">Save</a>
    <a href="#" class="cancel-button action-secondary action">Cancel</a>
    <span class="error-message"></span>
  </div>
</div>
