<div class="mentoring">
  <div class="missing-dependency warning" data-missing="{{ self.has_missing_dependency }}">
    You need to complete <a href="{{ missing_dependency_url }}">the previous step</a> before
    attempting this step.
  </div>
  {% if self.title %}
  <h2>{{ self.title.content }} {% if self.weight %} ({{ self.weight }} Points Possible) {% endif %}</h2>
  {% endif %}
  {% for name, c in named_children %}
  {{c.body_html|safe}}
  {% endfor %}
  {% if self.display_submit %}
  <div class="submit">
    <input type="button" class="input-main" value="Submit"></input>
    <div class="attempts" data-max_attempts="{{ self.max_attempts }}" data-num_attempts="{{ self.num_attempts }}"></div>
  </div>
  {% endif %}
  <div class="messages"></div>
</div>
