<!-- TODO: Replace by default edit view once available in Studio -->
<div class="wrapper-comp-settings is-active" id="settings-tab">
  <script id="metadata-editor-tpl" type="text/template">// JS crashes when empty //</script>
  <ul class="list-input settings-list">
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="mentoring-xml-content">XML content</label>
            <input class="input setting-input" id="mentoring-xml-content" value="{{ self.xml_content }}" type="text">
          </div>
          <span class="tip setting-help">XML source of the mentoring block</span>
      </li>
  </ul>
</div>
<div class="row module-actions">
    <a href="#" class="save-button action-primary action">Save</a>
    <a href="#" class="cancel-button action-secondary action">Cancel</a>
</div>
