<fieldset class="choices questionnaire" data-hide_results="{{self.hide_results}}">

  <legend class="question">
    <h3>QUESTION</h3>
    <p>{{ self.question }}</p>
  </legend>
  <div class="choices-list">
    {% for choice in custom_choices %}
    <div class="choice">
      <div class="choice-result icon-2x"></div>
      <div class="choice-checkbox">
        <label class="choice-label">
          <input class="choice-selector" type="checkbox" name="{{ self.name }}"
                 value="{{ choice.value }}"
                 {% if choice.value in self.student_choices %} checked{% endif %}>
          {{ choice.content }}
          </input>
        </label>
      </div>
      <div class="choice-tips"></div>
    </div>
    {% endfor %}
    <div class="feedback"></div>
  </div>
</fieldset>
