<h2 class="problem-header">Multiple Response</h2>
<fieldset class="choices questionnaire">
  <legend class="question">{{ self.question }}</legend>
  <div class="choices-list">
    {% for choice in custom_choices %}
    <div class="choice">
      <span class="choice-result icon-2x"></span>
      <div class="choice-checkbox">
        <label class="choice-label">
          <input class="choice-selector" type="checkbox" name="{{ self.name }}"
                 value="{{ choice.value }}"
                 {% if choice.value in self.student_choices %} checked{% endif %}>
          {{ choice.content }}
          </input>
        </label>
      </div>
      <span class="choice-answer icon-2x"></span>
      <div class="choice-tips"></div>
    </div>
    {% endfor %}
    <div class="choice-message"></div>
  </div>
</fieldset>
<div class="show-answer">
  <button class="show">
    <span class="show-label">Show Answer(s)</span>
  </button>
</div>
