<h2 class="problem-header">Multiple Response</h2>
<fieldset class="choices">
  <legend class="question">{{ self.question }}</legend>
  <div class="choices-list">
    {% for choice in custom_choices %}
    <div class="choice">
      <label class="choice-label">
        <input class="choice-selector" type="checkbox" name="{{ self.name }}" value="{{ choice.value }}"{% if choice.value in self.student_choices %} checked{% endif %}> {{ choice.content }}
      </label>
      <span class="choice-result icon-2x"></span>
      <div class="choice-tips"></div>
    </div>
    {% endfor %}
    <div class="choice-message"></div>
  </div>
</fieldset>
<div class="mrq-attempts" data-max_attempts="{{ self.max_attempts }}" data-num_attempts="{{ self.num_attempts }}"></div>
