<fieldset class="yes-maybenot-understand">
  <legend>{{ self.question }}</legend>
  <div class="choices">
    <span class="choice">
      <label><input type="radio" name="{{ self.name }}" value="yes"{% if self.student_choice == 'yes' %} checked{% endif %}> Yes</label>
    </span>
    <span class="choice">
      <label><input type="radio" name="{{ self.name }}" value="maybenot"{% if self.student_choice == 'maybenot' %} checked{% endif %}> Maybe not</label>
    </span>
    <span class="choice">
      <label><input type="radio" name="{{ self.name }}" value="understand"{% if self.student_choice == 'understand' %} checked{% endif %}> I don't understand</label>
    </span>
  </div>
</fieldset>
