.mentoring-table {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.mentoring-table table {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-spacing: 0;
    border-collapse: collapse;
}

.mentoring-table td,
.mentoring-table th {
    padding: 10px;
    vertical-align: top;
    border: 1px solid rgb(221, 221, 221);
}

.mentoring-table thead a {
    font-weight: bold;
}

.mentoring-table.immunity-map td {
    width: 25%;
}
.mentoring-table.immunity-map-assumptions td {
    width: 20%;
}
.mentoring-table.five-cols td {
    width: 20%;
}

.mentoring-table .mentoring-column {
    min-height: 500px;
}

.mentoring-table .hd-lvl1, .mentoring-table .hd-lvl2 {
    margin: 0 0 5px;
}

/* Hidden elements - Screenreaders */
.mentoring-table .cont-text-sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
